<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <%- include("partials/head") %>

</head>
<body>
    <%- include("partials/navegacion") %>
<main class="vh-100 container pt-2 text-center justify-content-center align-items-center">
    <section>
        <h1 class="display-1">About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, id et placeat itaque blanditiis earum fuga delectus nemo! Dolores amet officiis tempora dolore repellat quaerat est explicabo, quis recusandae, iure labore veritatis optio fugiat odio sapiente, voluptatum harum cum architecto? Numquam vero explicabo eligendi impedit eaque pariatur nisi sit, rerum sapiente necessitatibus illo neque possimus hic nihil. Ipsam consequatur expedita, quo vero harum sed repellat dolor maiores cum possimus eligendi odio libero nesciunt optio, deserunt eius ab dolorem ad minus debitis. Doloribus animi tenetur vitae ipsam ad expedita? Accusamus repellat hic doloribus dignissimos nostrum dolorem cupiditate voluptates, ipsum consequatur natus?</p>
    </section>
</main>
<div class="text-center p-0">
    <button class="btn btn-primary btn-block">Contact</button>
</div>
</body>
</html>